body,html{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}
/* 修改start */
.size18{
    font-size: 18px!important;
}
.size14{
    font-size: 14px!important;
}
.size16{
    font-size: 14px!important;
}
/* 修改end */
.layui-header{
    height: 68px!important;
    background: url('../images/titleBg.png') no-repeat;
    background-size:100% 100%;
}
.layui-logo{
    width: 27%!important;
    text-align: left!important;
    padding-left: 1%;
}
.layui-logo .angle{
    width: 0;
    height: 0;
    border-color: rgba(9,167,236,1) transparent;
    border-width: 0 0 58px 58px;
    border-style: solid;
    position: absolute;
    top: 0;
    right: 0;
}
.myheader .layui-nav-bar{
    background: #fff;
}
.myheader .layui-nav-item{
    line-height: 68px;
}
.myheader .layui-nav-item a{
    padding:0 30px;
    font-size:13px;
}
.layui-layout-right{
    top:2px;
}
.layui-layout-right .layui-nav-item a{
    line-height: 20px;
    font-size: 12px;
    color: #D0E3F9;
}
.layui-layout-right .layui-nav-bar,.layui-layout-right .layui-nav-item:after{
    display: none;
}
.mynavbar .layui-nav-bar{
    width: 0;
}
.layui-logo img{
    width: 75%;
    position: relative;
    top: 5px;
}
/* 修改start */
ul li a{
    font-size:14px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(255,255,255,1);
}
.layui-layout-left {
    left: 26%!important;
}
/* 修改end */
.layui-nav {
    background-color: #fff;
}
.yiji{
    background:#eee;
    border-bottom:1px solid #fff;
}
.erji{
    background:#fff;
    border-bottom:1px solid #eee;
}
.layui-nav-tree .layui-nav-child dd.layui-this, .layui-nav-tree .layui-nav-child dd.layui-this a, .layui-nav-tree .layui-this, .layui-nav-tree .layui-this>a, .layui-nav-tree .layui-this>a:hover {
    /* background-color: #09a7ec!important; */
    color: #09a7ec;
}
.layui-nav-tree .layui-nav-child dd.layui-this, .layui-nav-tree .layui-nav-child dd.layui-this a, .layui-nav-tree .layui-this, .layui-nav-tree .layui-this>a, .layui-nav-tree .layui-this>a:hover {
    background-color: #fff;
    color: #09a7ec;
}
.layui-nav .layui-nav-child dd.layui-this a, .layui-nav-child dd.layui-this {
    background-color: #fff;
    color: #666;
}
.layui-nav-tree li a{
    font-size:12px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(23,26,30,1);
}
.layui-nav-tree li a img{
    width: 15px;
    height: 15px;
    margin: 0 10px 5px 0;
}
.layui-body{
    padding:0 15px 15px;
}
/* 修改start */
.content_header{
    padding:15px 0;
    font-size:12px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(102,102,102,1);
    border-bottom: 1px solid rgba(238,238,238,1);
}
/* 修改end */
.system{
    width: 100%;
    padding: 15px 0; 
    position: relative;
}
.system h3{
    font-size:14px;
    font-family:MicrosoftYaHei;
    font-weight:bold;
    color:#2F87F5;
    margin-bottom: 15px;
}
.system p{
    font-size:13px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:#666;
}
.left_div{
    width: calc(100% - 180px);
    float: left;
}
.right_div{
    width: 180px;
    float: right;
    position: absolute;
    top: 20px;
    right: 0;
}
.right_div img{
    width: 70px;
    height: auto;
    display: block;
    margin: 0 auto;
}
.right_div div{
    text-align: center;
    font-size: 12px;
    color: #666;
}
.third_p{
    margin-bottom: 15px;
}
.part{
    width: 49%;
    background:rgba(255,255,255,1);
    border:1px solid #E3E3E3;
}
.part1{
    margin-right: 15px;
}
.marginbottom15{
    margin-bottom: 15px;
}
.part_header{
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    background: #F2F2F2;
    box-sizing: border-box;
}
.part_header>div{
    height: 25px;
    line-height: 25px;
    color: #666666;
    font-size: 14px;
    display: inline-block;
}
.part_header a{
    float: right;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #fff;
}
.part_header img{
    width: 20px;
    height: 20px;
    margin-right:5px;
}
.part ul{
    width: 100%;
}
.part ul li{
    margin: 0 20px;
    height: 34px;
    line-height: 34px;
    border-bottom: 1px solid #EEEEEE;
    box-sizing: border-box;
    font-size: 13px;
    color: #666;
}
.part ul li:hover{
    color:#2F87F5;
}
.part ul li:hover .dotted{
    background: #2F87F5;
}
.dotted{
    width:4px;
    height:4px;
    display: inline-block;
    background:#D4D4D4;
    border-radius:2px;
    margin: 0 20px 2px 0;
}
.list_row{
    padding: 10px 20px 0 20px;
}
.list_row2{
    padding: 10px 0 0;
    height: 25px;
}
.list_div{
    height:34px;
}
.list_div_div{
    margin: 0 auto;
    height: 100%;
    line-height: 34px;
    font-size: 13px;
    color: #666;
    border-bottom: 1px solid #EEEEEE;
}
.footer{
    width: 100%;
    text-align: center;
    font-size:16px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(23,26,30,1);
    margin-top: 10px;
}
.page{
    display: none;
}
#index{
    display: block;
}
#apply{
    /* display: block; */
}
/* apply */
.stepInfo{
    padding: 10px 0;
}
.stepInfo div{
    width: 200px;
    height: 38px;
    font-size: 14px;
    text-align: center;
    line-height: 38px;
    background: url('../images/progress.png') no-repeat;
    background-size: 100% 100%;
}
.stepInfo div.step_menu1{
    background: url('../images/progress_active.png') no-repeat;
    background-size: 100% 100%;
    color: white;
}
.stepInfo div.active{
    background: url('../images/progress_active1.png') no-repeat;
    background-size: 100% 100%;
    color: white;
}
.layui-form .input{
    line-height: 34px;
}
.stepInfo{
    display: flex;
}
.stepInfo div{

}
.step{
    display: none;
}
.step1 {
    display: block;
    padding-right: 40px;
}
.step .title,.common .title{
    line-height: 40px;
    color: #666;
    font-size: 14px;
    background: #f7f7f7;
    padding-left: 15px;
    border-top: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
}
.title40{
    line-height: 28px;
    color: #171A1E;
    font-size: 13px;
    background: #f7f7f7;
    padding-left: 15px;
}
.mods{
    margin: 15px 0;
}
.br{
    border-right: 1px solid #eeeeee;
}
.step1 .layui-col-md6,.step1 .layui-col-md12,.step4 .layui-col-md6,.step4 .layui-col-md12{
    padding-left: 15px;
    border-left: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
}
.step1 .layui-form-radio,.step4 .layui-form-radio{
    line-height: 28px;
    margin: 6px 0;
    padding-right: 0;
}
.layui-form-radio>i:hover, .layui-form-radioed>i {
    color: #2077E2;
}
.step1 .mods .fw,.step4 .mods .fw{
    border: none;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
}
.bb{
    border-bottom: 1px solid #eeeeee!important;
}
.bl{
    border-left: 1px solid #eeeeee!important;
}
.bt{
    border-top: 1px solid #eeeeee!important;
}
.bn{
    border-right: none;
    border-top:none ;
}
.red{
    color: red;
    margin: 0 5px;
}
.fw .layui-form-radio div{
    color: #171A1E;
}
.fw .infos{
    display: inline-block;
    font-size: 14px;
    margin: 3px 0;
    vertical-align: top;
}
.fw .infos p{
    line-height: 26px;
    font-size: 12px;
    color: #666;
}
.fw .infos p span{
    font-weight: bold;
}
.step2 .form,.step3 .form,.common .form{
    border: 1px solid #eee;
}
.form1{
    margin-bottom: 15px;
}
.tips{
    color: #999;
    font-size: 14px;
    padding-left:30px;
}
.tips1{
    margin-top: 15px;
}
/* audit */
#audit{
    margin-top: 15px;
    border: 1px solid #eee;
}
.tables{
    width: 100%;
    height: auto;
}
.layui-table {
    width: 100%!important;
}
.layui-table td{
    font-size: 13px;
}
.layui-table th {
    font-size: 14px;
}
.layui-table a{
    color: #009fe5;
}
.layui-table a.first_a{
    margin-right: 10px;
}
.layui-table-page{
    text-align: right;
}
.layui-laypage-limits{
    display: none!important;
}
.layui-laypage .layui-laypage-curr .layui-laypage-em {
    background-color: #2F87F5;
}
#audit .layui-form{
    border-right: none;
    border-left: none;
    border-bottom: none;
}
.form_table{
    margin: 1.5%;
}
.form_table .layui-input{
    width: 13%;
    display: inline-block;
    font-size: 14px;
    margin-right: 10px;
}
.form_table .layui-btn{
    font-size: 14px;
}
.form_table .layui-form-select{
    width: 160px;
    margin-right: 10px;
}
.form_table .layui-form-select .layui-input{
    width: 100%;
}
.btn1{
    background: #2F87F5;
    color: #fff;
    border: none;
}
.btn2{
    background: #EAEDF4;
    color: #333333;
    border: none;
}
.btn3{
    margin-left: auto!important;
}
.btn3:hover{
    border: 1px solid #C9C9C9;
}
.btn1:hover{
    color: #fff;
}
.paddingleft{
    padding-left: 65px;
}
.choose{
    display: inline-block;
    font-size: 13px;
    margin: 6px 0 0 100px;
    vertical-align: middle;
}
.useInfo .fw .layui-form-radio div{
    font-weight: normal;
}
.useInfo .fw{
    padding: 20px 15px;
}
.useInfo .fw .layui-input{
    width: 180px;
    display: inline-block;
    margin: 0 10px;
}
.useInfo .fw .layui-btn-primary,.useInfo .fw .layui-btn-primary:hover,#newB .layui-btn-primary,#newB .layui-btn-primary:hover{
    color: #fff;
    background: #2077E2;
    border-radius: 2px;
    border-color: #2077E2;
}
.layui-btn-normal{
    background: #2077E2;
    border-radius: 2px;
}
.btns{
    padding: 20px 0 5px 10px;
}
.ac{
    text-align: center;
}
.al{
    text-align: left;
}
.step2{
    color: #171A1E;
}
.step2 .layui-form-label{
    width: 90px;
}
.step2 .layui-input-block{
    margin-left: 120px;
}
.step2 .layui-form-item,.step3 .layui-form-item{
    margin: 10px 0;
}
.step2 .layui-input,.step2 .layui-textarea,.step3 .layui-input,.step3 .layui-textarea{
    width: 80%;
}
.step2 .product{
    padding: 9px 0;
    line-height: 20px;
}
.step2 .form .layui-form-item .width160{
    width: 200px!important;
    font-weight: bold;
}
.step2 .form .layui-form-item .width160 + .layui-input-block{
    margin-left: 200px!important;
}
.step2 .form .layui-form-item .layui-input-block .words{
    line-height: 28px;
    margin: 6px 10px 0 0;
    display: inline-block;
    vertical-align: middle;
}
.step2 .form .layui-form-item .layui-form-label{
    width: 160px;
}
.step2 .form .layui-form-item .layui-form-label + .layui-input-block{
    margin-left: 160px;
}
.step3 .form .layui-form-item .layui-form-label{
    width: 246px;
}
.step3 .form .layui-form-item .layui-form-label + .layui-input-block{
    margin-left: 246px;
}
.step2 .titleInfo .layui-form-item .layui-form-label{
    width: 100px;
}
.step2 .titleInfo .layui-form-item .layui-form-label + .layui-input-block{
    margin-left: 100px;
}
.step2 .productInfo .ls .layui-input{
    width: 50%;
}
.step2 .layui-form-item .layui-inline{
    width: 27.9%;
}
.step3 .layui-form-item .layui-inline{
    width: 47%;
}
.step2 .layui-form-item .layui-inline.noleft .layui-input-inline{
    width: calc(100% - 100px);
}
.step3 .layui-form-item .layui-inline.noleft .layui-input-inline{
    width: calc(100% - 150px);
}
.step2 .layui-form-item .layui-inline .layui-input-inline .layui-input{
    width: 100%;
}
.step2 .smbtn{
    height: 22px;
    line-height: 22px;
    margin-left: 20px;
    font-size: 12px;
}
.btns .layui-btn{
    width: 130px;
    border-radius: 2px;
}
.btns .layui-btn:hover{
    border-color: #09a7ec;
} 
.layui-form-checked[lay-skin=primary] i{
    border-color: #09a7ec!important;
    background: #09a7ec;
}
.content_header .icon{
    margin: 0 10px;
}
