body,html{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}
.login{
    width: 100%;
    height: 100%;
   
   
}
.login .title{
    width:100%;
    height:67.5px;
    /* line-height: 45px; */
    background:rgba(255,255,255,1);
    /* position: absolute;
    top: 0; */
}
.login .title img{
    width: auto;
    height:67.5px;
    margin-left: 15%;
}
.login .title .rightPart{
    display: inline-block;
    height: 100%;
    margin-right: 10%;
    float: right;
}
.login .title .rightPart p{
    height: 33.7px;
    line-height: 33.7px;
    font-size: 13px;
    text-align: right;
}
.login .title .rightPart p:first-child{
    color: #333;
}
.login .title .rightPart p:last-child{
    color: #2F87F5;
}
.login .main{
    width: 100%;
    height: calc(100% - 67.5px);
    background: url('../images/loginBg.png') no-repeat;
    background-size: 100% 100%;
    position: relative;
    /* padding: 16% 0; */
    /* box-sizing: border-box; */
}
.login .main .main_main{
    margin: 0 auto;
    background:rgba(255,255,255,1);
    box-shadow:0px 4px 12px 0px rgba(23,55,67,0.24);
    border-radius:10px;
    text-align: center;
    padding: 2% 4%;
    box-sizing: border-box;
    
}
.login .main #main_main1{
    width: 350px;
    height: 330px;
    position: absolute;
    top: 20%;
    right: 10%;
}
.login .main #main_main2{
    width: 375px;
    height: 375px;
    position: absolute;
    top: 20%;
    right: 10%;
}
.login .main #main_main3{
    width: 74%;
    height: 85%;
    position: absolute;
    top: 5%;
    right: 13%;
    padding: 1% 4%!important;
}
.login .main #main_main2,#main_main3{
    display: none;
    text-align: left;
}
.login .main #main_main3 .layui-container{
    font-size: 12px;
}
.login .main #main_main3 .layui-col-md6 {
    height: 30px;
    margin-bottom: 10px;
}
.login .main #main_main3 .layui-col-md6 .layui-form-label {
    padding: 9px 0px;
    width: 105px;
}
.login .main #main_main3 .layui-col-md6 .layui-input-block {
    min-height: 30px;
}
.login .main #main_main3 .layui-col-md6 input{
    height: 30px;
    
}
.login .main #main_main3 .layui-col-md6 input.layui-input{
    width: 86%;
}
.login .main #main_main3 .layui-col-md6 .layui-form-radio {
    line-height: 30px;
    margin: 0;
}
.login .main #main_main3 .layui-col-md6 .layui-form-radio>i {
    font-size: 14px;
    margin-right: 5px;
}
.login .main #main_main3 .layui-col-md6 .layui-form-radio * {
    font-size: 12px;
}
.login .main #main_main3 .layui-col-md6 .layui-icon-tips{
    font-size: 12px;
}
.login .main #main_main3 .layui-col-md6 .layui-form-label{
    line-height: 12px;
}
.login .main #main_main3 .layui-col-md6 .layui-form-select{
    width: 28%;
    display: inline-block;
}
.uploadDiv{
    display: flex;
}
.borderDiv{
    width: 80px;
    height: 80px;
    border: 1px solid #ccc;
    display: inline-block;
    margin-right: 20px;
}
.borderDiv .layui-btn{
    height: 80px!important;
    width: 80px!important;
    border: none!important;
    text-align: center!important;
    background: none!important;
    color: #000!important;
    margin: 0!important;
    padding: 0!important;
}
.tipText{
    width: 60%;
    display: inline-block;
}
.tipText p,.tipText ul{
    font-size: 12px!important;
    color: #999!important;
}
.btn{
    text-align: center;
    margin-top: 8%;
}
.btn button{
    width: 140px;
    font-weight: bold;
}
.btn .reset{
    background:rgba(234,237,244,1);
    color: #000;
}
.btn .register{
    color: #fff;
    background:linear-gradient(-90deg,rgba(50,183,240,1) 0%,rgba(20,94,202,1) 100%);
    box-shadow:0px 4px 9px 0px rgba(0,138,255,0.41);
    /* border-radius:13px; */
}
.tipsDiv{
    position: relative;
}
.tips{
    position: absolute;
    top: 0;
    right: -45px;
    color: #999;
    font-size: 12px;
    width: 70px;
    padding: 0!important;
    line-height: 15px!important;
}
.login .main #main_main3 .layui-col-md6 .layui-form-select input.layui-input {
    width: 100%;
}
.login .main #main_main3 .layui-col-md6 .layui-form-select .layui-edge {
    /* right: 35px; */
}
.login .main .main_main p{
    height:21px;
    font-size:16px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(0,0,0,1);
}
.p1{
    text-align: left;
}
.p2{
    display: inline-block;
    width: 39%;
}
.p3{
    display: inline-block;
    width: 70%;
    padding-left: 5%;
}
.toLogin{
    font-size:12px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(47,135,245,1);
    line-height:4px;
}
.login .main .main_main .header{
    width: 85%;
}
.login .main .main_main .line1{
    width:100%;
    height:1px;
    background: #028BFF;
    margin: 5px 0 25px 0;
}
.login .main .main_main .input_div{
    width: 90%;
    height: 37.5px;
    line-height: 34px;
    /* border:1px solid rgba(200, 202, 206, 1); */
    background: rgba(247,247,247,1);
    border-radius:2px;
    margin-bottom: 20px;
    padding: 0 5%;
    text-align: left;
}

.login .main .main_main .input_div img{
    width: 15px;
}
.login .main .main_main .input_div:hover,.input_div:active{
    color: rgba(60,145,241,1);
    border:1px solid rgba(60,145,241,1);
}
.login .main .main_main .input_div input{
    width: 85%;
    height: 100%;
    font-size:10px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    background: rgba(247,247,247,1);
    color:rgba(181,181,181,1);
    line-height:2px;
    margin-left: 10px;
    text-indent: 10px;
    border: none;
    /* border-left:1px solid rgba(216,214,214,1) ; */
}
.getCode{
    font-size:12px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(47,135,245,1);
}
.noMargin{
    width: 70%!important;
    margin-left: 0!important;
}
.red{
    color: red;
}
.login .main #main_main1 button,.login .main #main_main2 button{
    margin: 10px 0 20px;
    height:35px;
    line-height: 35px;
    font-size:13px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(255,255,255,1);
    line-height:3px;
    border: none;
    background:linear-gradient(-90deg,rgba(50,183,240,1) 0%,rgba(20,94,202,1) 100%);
    box-shadow:0px 4px 9px 0px rgba(0,138,255,0.41);
    border-radius:13px;
}
.layui-container {
    width: 100%!important;
}
.layui-row{
    font-family:MicrosoftYaHei;
    font-weight:400;
}
.layui-row a{
    font-size:12px;
    color:rgba(153,153,153,1);
    text-decoration: none;
}
.login .footer{
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 10px;
    font-size:10px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(255,255,255,1);
}
.login .footer img{
    width: 25.5px;
    height: auto;
}